<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>订单详情-完成</title>
		<link rel="stylesheet" href="../../css/aui.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
	</head>
	<style type="text/css">
		header{ position: fixed !important;width: 100%;top: 0;z-index: 100000;}
		.bg{height: 7.5rem;background: linear-gradient(to right, #52a589, #c4f2e5);background: -prefix-linear-gradient(left, #52a589, #c4f2e5);}
		.dizhi{ position: relative;}
		.dizhi .aui-list-item-media{width:2.25rem !important;align-items: center !important;}
		.dizhi .aui-list-item-media img{width: 1.5rem;}
		.line{ position: absolute;bottom: 0;left:0;width: 100%;height: 4px;}

	    .pay{ width: 1rem;height: 1rem;vertical-align: middle;}

		.shop .aui-list-item-media{width: 5.25rem !important;padding-right: 0.6rem !important;padding-top: 0 !important; padding-bottom: 0 !important;}
	    .shop .aui-list-item-media .pic{height: 4.5rem;width: 4.5rem;border-radius: 0.25rem;overflow: hidden;}
	    .shop .aui-list-item-media img{width: 100%;height: 100%;object-fit: cover;}
	    .shop .aui-list-item-inner{padding: 0 !important;}
	    .aui-ellipsis-2{height: 44px; line-height: 22px;}

		.danger{border: solid 1px #f32c52;}
	</style>
	<body class="aui-bg-grayer">
		<div class="aui-content" id="app" v-cloak v-if="is_load">
			<header class="aui-bar aui-bar-nav aui-bar-light" style="background-color: inherit !important;">
	            <a class="aui-btn aui-btn-warning aui-pull-left" onclick="closeWin()">
	                <span class="aui-iconfont aui-icon-left aui-text-white"></span>
	            </a>
	            <div class="aui-title aui-font-size-17 aui-text-white">订单详情</div>
	        </header>

	        <div class="bg">
	        	<div class="aui-list aui-media-list" style="background-color: initial !important; padding:2.5rem 1rem 0;">
					<div class="aui-list-item">
			            <div class="aui-media-list-item-inner" style="align-items: center !important;">
			                <div class="aui-list-item-inner">
			                    <div class="aui-list-item-title fweight-5 aui-text-white">交易完成</div>
			                    <div class="aui-list-item-text aui-text-white aui-font-size-12 aui-padded-t-5">期待下次为你服务</div>
			                </div>
			                <div class="aui-list-item-media">
			                    <img src="../../image/daipingjia.png">
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<!--地址-->
			<div class="aui-list aui-media-list dizhi aui-padded-0 ">
				<div class="aui-list-item aui-padded-l-12">
					<div class="aui-media-list-item-inner">
						<div class="aui-list-item-media">
							<img src="../../image/dizhi1.jpg"/>
						</div>
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								<div class="">{{add.name}}<span class="aui-text-grayer">{{add.mobile}}</span>  </div>
							</div>
							<div class="aui-list-item-text aui-text-blacker aui-margin-t-10">{{add.full_address}}{{add.address_info}}</div>
						</div>
					</div>
				</div>
				<img src="../../image/line.jpg" class="line"/>
			</div>
			<!--商品-->
			<div class="aui-list aui-media-list shop aui-padded-12 aui-padded-b-0 aui-border-bgT">
				<template v-for="(vo,index) in list">
					<div class="aui-list-item aui-padded-l-0">
						<div class="aui-media-list-item-inner aui-padded-0 aui-padded-b-12">
							<div class="aui-list-item-media">
								<div class="pic">
									<img :src="vo.thumb" />
								</div>
							</div>
							<div class="aui-list-item-inner aui-padded-r-0">
								<div class="aui-list-item-text aui-font-size-14">
									<span class="aui-ellipsis-2  aui-text-blacker">{{vo.goods_name}}</span>
								</div>
								<div class="aui-list-item-text aui-font-size-12 aui-text-grayerBlue">
									<span class="" v-if="vo.spec_name">{{vo.spec_name}}</span>
									<span class="aui-pull-right">x{{vo.goods_num}}</span>
								</div>
								<div class="aui-list-item-text aui-padded-t-10">
									<span class="aui-font-size-17 aui-text-danger">￥{{vo.goods_price}} </span>
									<span class="aui-pull-right" v-if="vo.is_evaluation==0" @click="pj(index,vo.id,vo.goods_id)">去评价</span>
									<span class="aui-pull-right" v-if="vo.is_evaluation==1" @click="look(index,vo.order_id,vo.goods_id)">查看评价</span>
								</div>
							</div>
						</div>
					</div>
				</template>
			</div>
			<!--明细-->
			<div class="aui-list aui-media-list">
				<div class="aui-list-item aui-padded-12 aui-border-bgT">
							<div class="aui-list-item-inner aui-padded-0" style="line-height: 160%;">
								<div class="aui-list-item-text aui-font-size-13 aui-text-grayer aui-padded-t-5">
									<div class="">商品总价</div>
									<div class="">￥{{order_info.order_price}}</div>
								</div>
								<div class="aui-list-item-text aui-font-size-13 aui-text-grayer aui-padded-t-5">
									<div class="">送积分</div>
									<div class="">+{{order_info.total_return_score}}</div>
								</div>
								<div class="aui-list-item-text aui-font-size-13 aui-text-grayer aui-padded-t-5">
									<div class="">优惠</div>
									<div class="">-{{yh}}</div>
								</div>
								<div class="aui-list-item-text aui-font-size-13 aui-text-grayer aui-padded-t-5">
									<div class="">留言</div>
									<div class="">{{order_info.content}}</div>
								</div>
								<!-- <div class="aui-list-item-text aui-font-size-13 aui-text-blacker aui-padded-t-5">
									<div class="">订单总价</div>
									<div class="">￥{{order_info.total_price}}</div>
								</div> -->
							</div>
		        </div>
		        <div class="aui-list-item aui-padded-12 aui-border-t">
		            <div class="aui-list-item-inner aui-padded-0" style="min-height: auto !important;">
		            	<div class="aui-list-item-text aui-font-size-13 aui-text-black">
		            		<div class="">需支付</div>
		            		<div class="aui-list-item-text aui-font-size-16 aui-text-danger">￥{{order_info.pay_price}}</div>
		            	</div>
		            </div>
		        </div>
	        </div>
	        <!--订单信息-->
			<div class="aui-list aui-border-bgT">
				<div class="aui-padded-12 aui-padded-t-15 aui-padded-b-15 aui-border-b fweight-5">订单信息</div>
		        <div style="line-height: 160%;" class="aui-padded-10 aui-text-gray">
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">付款方式：<template v-if="order_info.pay_type==1">微信支付</template><template v-else>支付宝支付</template></span></div>
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">订单编号：<span class="aui-text-black">{{order_info.order_sn}}</span></div>
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">创建时间：<span class="aui-text-black">{{order_info.create_time}}</span></div>
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">付款时间：<span class="aui-text-black">{{order_info.pay_time}}</span></div>
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">发货时间：<span class="aui-text-black">{{order_info.update_time}}</span></div>
		        </div>
		    </div>
				<div class="aui-list aui-border-bgT" v-if="order_info.courier_name!='' && order_info.courier_mobile!=''">
					<div class="aui-padded-12 aui-padded-t-15 aui-padded-b-15 aui-border-b fweight-5">物流信息</div>
		        <div style="line-height: 160%;" class="aui-padded-10 aui-text-gray">
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">快递员姓名：<span class="aui-text-black">{{order_info.courier_name}}</span></div>
		        	<div class="aui-font-size-13 aui-text-grayerBlue aui-padded-b-5">快递员联系方式：<span class="aui-text-black">{{order_info.courier_mobile}}</span></div>
		        </div>
		    </div>

		</div><!--外层结束-->


	</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>

var vm = new Vue({
		el:'#app',
		data:{
			add:'',
			order_info:'',
			list:[],
			is_load:'',
			id:'',
			yh:'',
			token:'',
		},
		methods:{
				pj:function(idx,id,goods_id) {
					api.openWin({
              name: 'pingjia_win',
              url: 'widget://html/order/pingjia_win.html',
              pageParam: {
                  id: id,
                  goods_id:goods_id,
									list:vm.list[idx]
              }
          });
				},
				look:function(idx,id,goods_id) {
					api.openWin({
              name: 'pingjiaDetails_win',
              url: 'widget://html/order/pingjiaDetails_win.html',
              pageParam: {
                  id: id,
                  goods_id:goods_id,
									list:vm.list[idx]
              }
          });
				},
				init:function(){
					api.showProgress();
						api.ajax({
								url: order_details_url,
								method: 'get',
								timeout:30,
								returnAll:false,
								data: {
										values: {
												id:vm.id
										}
								}
						},function(ret, err){
								if (ret) {
										api.hideProgress();
										vm.is_load=1;
				        		console.log(JSON.stringify(ret))
				        		vm.list = ret.data.goods_list;
				        		vm.add = ret.data.address;
				        		vm.order_info = ret.data.order;
										vm.yh=ret.data.order.discounts_money+ret.data.order.coupon_money
										setTimeout(function(){
											 $api.fixIos7Bar($api.dom("header"));//修复ios系统bar
											 $api.fixStatusBar($api.dom("header"));
									 },300)
										api.openFrame({
												name: 'order_header',
												url: 'widget://html/pageone/order_header.html',
												rect: {
														x: 0,
														y: 0,
														w: 'auto',
														h: 72
												},
												bounces: true,
												vScrollBarEnabled: true,
												hScrollBarEnabled: true
										});
										$api.css($api.dom('header'),'border:none !important')
								} else {
										api.hideProgress();
										api.toast({
												msg: '加载失败，请检查网络连接',
												duration: 2000,
												location: 'middle'
										});

								}
						});

				},
		}
})

apiready = function(){
		$api.fixIos7Bar($api.dom("header"));//修复ios系统bar
		vm.token = $api.getStorage('token');
		vm.id = api.pageParam.id;
		vm.init();
		window.onscroll = function(e) {
				var scrollTop = document.body.scrollTop;
				api.sendEvent({
						name: 'myindex_init',
						extra: {
								scrollTop:scrollTop
						}
				});

		};
		api.addEventListener({
		    name: 'pingjia_save_init'
		}, function(ret, err){
		    if( ret ){
					vm.token = $api.getStorage('token');

				 vm.init();
		    }
		});

		api.addEventListener({
		    name: 'confirmes_order_init'
		}, function(ret, err){
		  	vm.confirmOrder();
		});

}
</script>
